{% load static %}
{% load i18n %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  footer area start Here
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <footer class="footer-area style-01">
    <div class="footer-top">
      <div class="container custom-container-01">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="footer-widget widget widget_subscribe">
              <div class="subscibe-wrapper">
                <div class="content-wrap">
                  <div class="icon">
                    <img src="{% static 'landing_page/img/icon/newslater.png' %}" alt="">
                  </div>
                  <div class="content">
                    <h4 class="title">{{ subscription_form.title }}</h4>
                    <p>{{ subscription_form.description }}</p>
                  </div>

                </div>
                <div class="subscribe-form">
                  <div class="form-group">
                    <input type="text" name="fname" placeholder="Enter your Email..."
                                                    class="form-control" required="" aria-required="true">
                    <div class="btn-wrap">
                      <a href="service-single.html" class="subscribe-btn">
                        <img src="{% static 'landing_page/img/icon/bell.png' %}" alt="">subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-middle">
          <div class="row">
        {% for item_list in footer.list_items %}
          {% for _, item in item_list.items %}
              {% if item.enable %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-widget widget widget_nav_menu">
                    <h4 class="widget-headline">{{ item.title }}</h4>
                    <ul>
                      {% for sub_item in item.item %}
                      <li><a href="{{ sub_item.value.link }}">{{ sub_item.value.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
          {% endfor %}
        {% endfor %}
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="footer-widget widget widget_nav_menu">
                <h4 class="widget-headline">Location</h4>
                <ul class="contact_info_list">
                  <li class="single-info-item">
                    <div class="icon">
                      <img src="{% static 'landing_page/img/icon/location-02.png' %}" alt="">
                    </div>
                    <div class="details">
                      {{ footer.location }}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container custom-container-01">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright-area-inner">
              <p>{{ footer.description|safe }}</p>
              <div class="footer-social-area">
                <ul class="social-icon-02">
                  {% if footer.facebook_contact.enable %}
                  <li><a href="{{footer.facebook_contact.url}}"><i class="fab fa-facebook-f"></i></a></li>
                  {% endif %}
                  {% if footer.instagram_contact.enable %}
                  <li><a href="{{footer.instagram_contact.url}}"><i class="fab fa-instagram"></i></a></li>
                  {% endif %}
                  {% if footer.linkedin_contact.enable %}
                  <li><a href="{{footer.linkedin_contact.url}}"><i class="fab fa-linkedin-in"></i></a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
