{% load static %}
{% load i18n %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  footer area start Here
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <footer class="footer-area style-01">
    <div class="footer-top">
      <div class="container custom-container-01">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="footer-widget widget widget_subscribe">
              <div class="subscibe-wrapper">
                <div class="content-wrap">
                  <div class="icon">
                    <img src="{% static 'landing_page/img/icon/newslater.png' %}" alt="">
                  </div>
                  <div class="content">
                    <h4 class="title">Subscribe our newsletter</h4>
                    <p>Enter your mail address to get our updates, offer and study abroad
                    related all updates</p>
                  </div>

                </div>
                <div class="subscribe-form">
                  <div class="form-group">
                    <input type="text" name="fname" placeholder="Enter your Email..."
                                                    class="form-control" required="" aria-required="true">
                    <div class="btn-wrap">
                      <a href="service-single.html" class="subscribe-btn">
                        <img src="{% static 'landing_page/img/icon/bell.png' %}" alt="">subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-middle">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer-widget widget widget_nav_menu">
                <h4 class="widget-headline">Important Links</h4>
                <ul>
                  <li><a href="#">Terms and conditions</a></li>
                  <li><a href="#">Disclaimer and copyright</a></li>
                  <li><a href="#">Cookie policy</a></li>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Equality and diversity</a></li>
                  <li><a href="#">Complaints procedure</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="footer-widget widget widget_nav_menu">
                <h4 class="widget-headline">Site Highlight</h4>
                <ul>
                  <li><a href="#">Student videos</a></li>
                  <li><a href="#">Photo gallery</a></li>
                  <li><a href="#">TSC prospectus</a></li>
                  <li><a href="#">Student newsletter</a></li>
                  <li><a href="#">Student portal</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer-widget widget widget_nav_menu">
                <h4 class="widget-headline">Help Center</h4>
                <ul>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">How to apply for admission</a></li>
                  <li><a href="#">Admission Documents</a></li>
                  <li><a href="#">Frequently asked questions</a></li>
                  <li><a href="#">Student accommodation</a></li>
                  <li><a href="#">Student Jobs</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="footer-widget widget widget_nav_menu">
                <h4 class="widget-headline">Services</h4>
                <ul>
                  <li><a href="#">Counselling</a></li>
                  <li><a href="#">Test Preparation</a></li>
                  <li><a href="#">Admission</a></li>
                  <li><a href="#">Education Loan</a></li>
                  <li><a href="#">Visa Processing</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="footer-widget widget widget_nav_menu">
                <h4 class="widget-headline">Location</h4>
                <ul class="contact_info_list">
                  <li class="single-info-item">
                    <div class="icon">
                      <img src="{% static 'landing_page/img/icon/location-02.png' %}" alt="">
                    </div>
                    <div class="details">
                      8502 Preston Rd. Inglewood, Maine Bangladesh
                    </div>
                  </li>
                  <li class="single-info-item">
                    <div class="icon me-4">
                      <img src="{% static 'landing_page/img/icon/edu-award.png' %}" alt="">
                    </div>
                    <div class="icon">
                      <img src="{% static 'landing_page/img/icon/iso.png' %}" alt="">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container custom-container-01">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright-area-inner">
              <p>© 2022 Eduplan. All rights reserved | Developed By <span>Themeim</span></p>
              <div class="footer-social-area">
                <ul class="social-icon-02">
                  <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
