{% load static %}

<!-- Jquery Js -->
<script src="{% static 'landing_page/js/jquery-3.6.0.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'landing_page/js/bootstrap.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'landing_page/js/jquery.magnific-popup.js' %}"></script>
<!-- wow -->
<script src="{% static 'landing_page/js/wow.min.js' %}"></script>
<!-- Nice Select -->
<script src="{% static 'landing_page/js/jquery.nice-select.js' %}"></script>
<!-- countdown -->
<script src="{% static 'landing_page/js/jquery.countdown.min.js' %}"></script>
<!-- Odomiters -->
<script src="{% static 'landing_page/js/odometer.min.js' %}"></script>
<!-- Viewport Js -->
<script src="{% static 'landing_page/js/viewport.jquery.js' %}"></script>
<!-- slick Js -->
<script src="{% static 'landing_page/js/slick.min.js' %}"></script>
<!-- main js -->
<script src="{% static 'landing_page/js/main.js' %}"></script>
