{% load static %}
<div class="cbox-1">
  <a href="course-details.html">

    <!-- Image -->
    <img class="img-fluid" src="{% static 'landing_page/images/courses/course-1-img.jpg' %}" alt="course-preview" />

    <!-- Text -->
    <div class="cbox-1-txt">

      <!-- Course Tags -->
      <p class="course-tags">
      <span>Languages</span>
      <span>English</span>
      </p>

      <!-- Course Title -->
      <h5 class="h5-xs">Beginner Level English - Foundations</h5>

      <!-- Course Rating -->
      <div class="course-rating clearfix">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <span>4.5 (26 Ratings)</span>
      </div>

      <!-- Course Price -->
      <span class="course-price"><span class="old-price">$149.99</span> $138.99</span>

    </div>

  </a>
</div> <!-- END COURSE #1 -->
