:root {
  --main-color-one: #021868;
  --heading-color: #021868;
  --paragraph-color: #6B6B6B;
  --heading-font: "Sora", sans-serif;
  --body-font: "Poppins", sans-serif;
  --animate-delay: 0.3s;
}

.chose-area-inner.bg-color-01 {
  background-color: #0274be;
}

.chose-area-wrapper.section-bottom-space .section-title {
  color: white;
}

.chose-area-wrapper.section-bottom-space .description {
  color: white;
}

.chose-area-wrapper.section-bottom-space h4 {
  color: white;
}

.chose-area-wrapper.section-bottom-space .paragraph {
  color: white;
}

.single-course-item ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(125deg, #021868 0%, #0274be 100%);
  border-radius: 10px;
}

.bg-main-blue {
  background: #e6eeff;
}

.bg-main-white {
  background: #fff;
}

.custom-padding-top {
  padding-top: 55px;
}

.uw-pb-100 {
  padding-bottom: 100px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(125deg, #021868 0%, #0274be 100%);
  border-radius: 10px;
}
