{% load static %}
<section id="about-3" class="pt-100 about-section division">
  <div class="container">
    <div class="row d-flex align-items-center">


      <!-- ABOUT TEXT -->
      <div class="col-md-7 col-lg-6">
        <div class="txt-block pc-25">

          <!-- Title -->
          <h3 class="h3-sm">Learn new personal & professional skills online</h3>

          <!-- Text -->
          <p>An enim nullam tempor sapien gravida donec porta and blandit ipsum enim justo integer
          velna vitae
          auctor integer congue magna and purus pretium risus ligula rutrum luctus ultrice
          </p>

          <!-- List -->
          <ul class="txt-list mb-15">

            <li>Nullam rutrum eget nunc varius etiam mollis risus undo</li>

            <li>Integer congue magna at pretium purus pretium ligula at rutrum risus luctus dolor
              auctor
              ipsum blandit purus
            </li>

            <li>Risus at congue etiam aliquam sapien egestas posuere</li>

          </ul>

          <!-- Button -->
          <a href="categories-list.html" class="btn btn-md btn-rose tra-black-hover">Start Learning
            Now</a>

        </div>
      </div> <!-- END ABOUT TEXT -->


      <!-- ABOUT IMAGE -->
      <div class="col-md-5 col-lg-6">
        <div class="img-block">
          <img class="img-fluid" src="{% static 'landing_page/images/image-02.png' %}" alt="about-image">
        </div>
      </div>


    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End ABOUT-3 -->
