{% load static %}
<!-- COURSES-1
  ============================================= -->
  <section id="courses-1" class="wide-100 courses-section division">
    <div class="container">


      <!-- SECTION TITLE -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title mb-60">

            <!-- Title 	-->
            <h3 class="h3-sm">Best Courses of All-Time</h3>

            <!-- Text -->
            <p class="p-md">Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero
            tempus, blandit posuere and ligula varius magna a porta
            </p>

            <!-- Button -->
            <div class="title-btn">
              <a href="courses-list.html" class="btn btn-tra-grey rose-hover">View All Courses</a>
            </div>

          </div>
        </div>
      </div>


      <!-- COURSE BOXES CAROUSEL -->
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-theme owl-loaded courses-carousel">
            {% for i in '01234567'|make_list %}
            {% include 'landing_page/partials/course_carousel_item.html' %}
            {% endfor %}


          </div>
        </div>
      </div> <!-- END COURSES BOXES CAROUSEL -->


    </div> <!-- End container -->
  </section> <!-- END COURSES-1 -->
