{% load static %}
<!-- CATEGORIES-3
  ============================================= -->
  <section id="categories-3" class="wide-100 categories-section division">
    <div class="container">


      <!-- SECTION TITLE -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title mb-60">

            <!-- Title 	-->
            <h3 class="h3-sm">Top Trending Categories</h3>

            <!-- Text -->
            <p class="p-md">Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero
            tempus, blandit posuere and ligula varius magna a porta
            </p>

            <!-- Button -->
            <div class="title-btn">
              <a href="categories-list.html" class="btn btn-tra-grey rose-hover">View All
                Categories</a>
            </div>

          </div>
        </div>
      </div>


      <!-- CATEGORIE BOXES CAROUSEL -->
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-theme owl-loaded categories-carousel">


            <!-- CATEGORIE BOX #1 -->
            <div class="bg-blue c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/development.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Development</h5>
                  <p>36 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #1 -->


            <!-- CATEGORIE BOX #2 -->
            <div class="bg-green c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/money.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Finance</h5>
                  <p>28 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #2 -->


            <!-- CATEGORIE BOX #3 -->
            <div class="bg-red c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/chip.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">IT & Software</h5>
                  <p>54 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #3 -->


            <!-- CATEGORIE BOX #4 -->
            <div class="bg-teal c3-box text-center white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/gear.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Engineering</h5>
                  <p>68 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #4 -->


            <!-- CATEGORIE BOX #5 -->
            <div class="bg-yellow c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/science.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Science</h5>
                  <p>59 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #5 -->


            <!-- CATEGORIE BOX #6 -->
            <div class="bg-violet c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/marketing.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Marketing</h5>
                  <p>28 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #6 -->


            <!-- CATEGORIE BOX #7 -->
            <div class="bg-orange c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/translation.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Languages</h5>
                  <p>137 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #7 -->


            <!-- CATEGORIE BOX #8 -->
            <div class="bg-lightgreen c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/heartbeat.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Health & Fitness</h5>
                  <p>94 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #8 -->


            <!-- CATEGORIE BOX #9 -->
            <div class="bg-skyblue c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/design.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Design & Arts</h5>
                  <p>72 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #9 -->


            <!-- CATEGORIE BOX #10 -->
            <div class="bg-yellow c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/human-mind.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Life Science</h5>
                  <p>72 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #10 -->


            <!-- CATEGORIE BOX #11 -->
            <div class="bg-red c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/calculator.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Mathematics</h5>
                  <p>63 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #11 -->


            <!-- CATEGORIE BOX #12 -->
            <div class="bg-olive c3-box text-center icon-md white-color">
              <a href="category-details.html">

                <!-- Icon -->
                <div class="c3-box-icon">
                  <img src="{% static 'landing_page/images/icons/categories/photo.png' %}" alt="category-icon" />
                </div>

                <!-- Text -->
                <div class="cbox-3-txt">
                  <h5 class="h5-md">Photography</h5>
                  <p>106 Courses</p>
                </div>

              </a>
            </div> <!-- END CATEGORIE BOX #13 -->


          </div>
        </div>
      </div> <!-- END CATEGORIE BOXES CAROUSEL -->


    </div> <!-- End container -->
  </section> <!-- END CATEGORIES-3 -->
