{% load static %}
<!-- BANNER-3
  ============================================= -->
  <section id="banner-3" class="bg-lightdark bg-map banner-section division">
    <div class="container">
      <div class="banner-3-holder bg-lightgrey">
        <div class="row d-flex align-items-center">


          <!-- BANNER IMAGE -->
          <div class="col-lg-8">
            <div class="banner-3-img">
              <img class="img-fluid" src="{% static 'images/banner-3-img.jpg' %}" alt="banner-image" />
            </div>
          </div> <!-- END BANNER IMAGE -->


          <!-- BANNER TEXT -->
          <div class="col-lg-4">
            <div class="banner-3-txt">

              <!-- Title -->
              <h4 class="h4-xs">Learn something new every day with <span>eTreeks</span></h4>

              <!-- Button -->
              <a href="courses-list.html" class="btn btn-rose tra-black-hover">Find Out More</a>

            </div>
          </div> <!-- END BANNER TEXT -->


        </div> <!-- End row -->
      </div> <!-- End banner-3-holder -->
    </div> <!-- End container -->
  </section> <!-- END BANNER-3 -->
