{% load static %}
<!-- ABOUT-4
  ============================================= -->
  <section id="about-4" class="wide-70 about-section division">
    <div class="container">


      <!-- ABOUT TEXT -->
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <div class="a4-txt">

            <!-- Title -->
            <h5 class="h5-xl text-center">Our goal is to make online education work for everyone</h5>

            <!-- Text -->
            <p>Sagittis congue augue egestas volutpat egestas magna suscipit egestas magna ipsum vitae
            purus
            efficitur ipsum primis and cubilia laoreet augue egestas luctus donec diam. Curabitur ac
            dapibus
            libero mauris donec ociis and neque. Phasellus blandit tristique justo ut aliquam.
            Aliquam vitae
            molestie nunc sapien justo, aliquet non molestie augue tempor sapien
            </p>

          </div>
        </div>
      </div> <!-- END ABOUT TEXT -->


      <!-- ABOUT IMAGE -->
      <div class="row">
        <div class="col-md-12">
          <div class="img-block">
            <img class="img-fluid" src="{% static 'landing_page/images/image-03.jpg' %}" alt="about-image">
          </div>
        </div>
      </div>


      <!-- ABOUT BOXES -->
      <div class="a4-boxes">
        <div class="row d-flex align-items-center">

          <!-- BOX #1 -->
          <div class="col-md-4">
            <div class="abox-4 icon-sm">

              <!-- Icon -->
              <span class="flaticon-004-computer"></span>

              <!-- Text -->
              <div class="abox-4-txt">
                <h5 class="h5-md">Trusted Content</h5>
                <p>Congue augue egestas magna volutpat dictum suscipit ipsum egestas magna vitae
                purus</p>
              </div>

            </div>
          </div> <!-- END BOX #1 -->


          <!-- BOX #2 -->
          <div class="col-md-4">
            <div class="abox-4 icon-sm">

              <!-- Icon -->
              <span class="flaticon-028-learning-1"></span>

              <!-- Text -->
              <div class="abox-4-txt">
                <h5 class="h5-md">Certified Teachers</h5>
                <p>Congue augue egestas magna volutpat dictum suscipit ipsum egestas magna vitae
                purus</p>
              </div>

            </div>
          </div> <!-- END BOX #2 -->


          <!-- BOX #3 -->
          <div class="col-md-4">
            <div class="abox-4 icon-sm">

              <!-- Icon -->
              <span class="flaticon-032-tablet"></span>

              <!-- Text -->
              <div class="abox-4-txt">
                <h5 class="h5-md">Lifetime Access</h5>
                <p>Congue augue egestas magna volutpat dictum suscipit ipsum egestas magna vitae
                purus</p>
              </div>

            </div>
          </div> <!-- END BOX #3 -->


        </div> <!-- End row -->
      </div> <!-- END ABOUT BOXES -->


    </div> <!-- End container -->
  </section> <!-- End ABOUT-4 -->
