{% load static %}
<section id="hero-1" class="hero-section division">


  <!-- SLIDER -->
  <div class="slider">
    <ul class="slides">


      <!-- SLIDE #1 -->
      <li id="slide-1">

        <!-- Background Image -->
        <img src="{% static 'landing_page/images/slider/slide-1.jpg' %}" alt="slide-background">

        <!-- Image Caption -->
        <div class="caption d-flex align-items-center left-align">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-7">
                <div class="caption-txt">

                  <!-- Title -->
                  <h2 class="h2-sm">25K+ students trust our online courses</h2>

                  <!-- Text -->
                  <p class="p-lg">Feugiat primis ligula gravida auctor egestas augue viverra
                  mauri
                  tortor in iaculis placerat an eugiat mauris ipsum undo viverra tortor
                  gravida
                  purus lorem in tortor a viverr
                  </p>

                  <!-- Button -->
                  <a href="#categories-3" class="btn btn-md btn-rose tra-black-hover">View
                    Popular Courses</a>

                </div>
              </div>
            </div> <!-- End row -->
          </div> <!-- End container -->
        </div> <!-- End Image Caption -->

      </li> <!-- END SLIDE #1 -->


      <!-- SLIDE #2 -->
      <li id="slide-2">

        <!-- Background Image -->
        <img src="{% static 'landing_page/images/slider/slide-2.jpg' %}" alt="slide-background">

        <!-- Image Caption -->
        <div class="caption d-flex align-items-center right-align">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-7">
                <div class="caption-txt white-color">

                  <!-- Title -->
                  <h2 class="h2-sm">2,769 online courses from the best tutors</h2>

                  <!--Hero Search Form -->
                  <form class="hero-form" action="categories-list.html">
                    <div class="input-group">
                      <input type="text" class="form-control"
                                         placeholder="What do you want to learn?" aria-label="Search">
                      <span class="input-group-btn">
                        <button type="submit" class="btn"><i class="fa fa-search"
                                                             aria-hidden="true"></i></button>
                      </span>
                    </div>
                  </form>

                </div>
              </div>
            </div> <!-- End row -->
          </div> <!-- End container -->
        </div> <!-- End Image Caption -->

      </li> <!-- END SLIDE #2 -->


      <!-- SLIDE #3 -->
      <li id="slide-3">

        <!-- Background Image -->
        <img src="{% static 'landing_page/images/slider/slide-3.jpg' %}" alt="slide-background">

        <!-- Image Caption -->
        <div class="caption d-flex align-items-center right-align">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-7">
                <div class="caption-txt">

                  <!-- Title -->
                  <h2 class="h2-sm">High quality courses from the leading experts</h2>

                  <!-- Text -->
                  <p class="p-lg">Feugiat primis ligula gravida auctor egestas augue viverra
                  mauri
                  tortor in iaculis placerat an eugiat mauris ipsum undo viverra tortor
                  gravida
                  purus lorem in tortor a viverr
                  </p>

                  <!-- Button -->
                  <a href="#courses-4" class="btn btn-md btn-rose tra-black-hover">View
                    Popular Courses</a>

                </div>
              </div>
            </div> <!-- End row -->
          </div> <!-- End container -->
        </div> <!-- End Image Caption -->

      </li> <!-- END SLIDE #3 -->

    </ul>
  </div> <!-- END SLIDER -->
</section> <!-- END HERO-1 -->
