{% load static %}

<header id="header" class="header white-menu navbar-dark">
  <div class="header-wrapper">


    <!-- MOBILE HEADER -->
    <div class="wsmobileheader clearfix">
      <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
      <span class="smllogo smllogo-black"><img src="{% static 'landing_page/images/logo.png' %}" width="172" height="40"
                                                                                 alt="mobile-logo" /></span>
      <span class="smllogo smllogo-white"><img src="{% static 'landing_page/images/logo-white.png' %}" width="172" height="40"
                                                                                       alt="mobile-logo" /></span>
    </div>


    <!-- NAVIGATION MENU -->
    <div class="wsmainfull menu clearfix">
      <div class="wsmainwp clearfix">


        <!-- LOGO IMAGE -->
        <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 344 x 80 pixels) -->
        <div class="desktoplogo"><a href="#hero-1" class="logo-black"><img src="{% static 'landing_page/images/logo.png' %}"
                                                                           width="172" height="40" alt="header-logo"></a></div>
        <div class="desktoplogo"><a href="#hero-1" class="logo-white"><img src="{% static 'landing_page/images/logo-white.png' %}"
                                                                           width="172" height="40" alt="header-logo"></a></div>


        <!-- MAIN MENU -->
        <nav class="wsmenu clearfix">
          <ul class="wsmenu-list">


            <!-- SIMPLE NAVIGATION LINK -->
            <li class="nl-simple" aria-haspopup="true"><a href="#">About</a></li>


            <!-- DROPDOWN MENU -->
            <li aria-haspopup="true"><a href="#">Pages <span class="wsarrow"></span></a>
              <div class="wsmegamenu clearfix halfmenu">
                <div class="container-fluid">
                  <div class="row">

                    <!-- Links -->
                    <ul class="col-lg-6 col-md-12 col-xs-12 link-list left-link-list">
                      <li><a href="about.html">About Us Page</a></li>
                      <li><a href="categories-list.html">Categories Listing</a></li>
                      <li><a href="category-details.html">Category Details</a></li>
                      <li><a href="courses-list.html">Courses Listing</a></li>
                      <li><a href="course-details.html">Course Details</a></li>
                      <li><a href="teachers-list.html">Teachers Listing</a></li>
                      <li><a href="teacher-profile.html">Teacher Profile</a></li>
                    </ul>

                    <!-- Links -->
                    <ul class="col-lg-6 col-md-12 col-xs-12 link-list">
                      <li><a href="become-a-teacher.html">Become A Teacher</a></li>
                      <li><a href="pricing.html">Pricing Plans Page</a></li>
                      <li><a href="reviews.html">Reviews Page</a></li>
                      <li><a href="faqs.html">FAQs Page</a></li>
                      <li><a href="blog-listing.html">Blog Listing</a></li>
                      <li><a href="single-post.html">Single Post</a></li>
                      <li><a href="contacts.html">Contacts Page</a></li>
                    </ul>

                  </div>
                </div>
              </div>
            </li> <!-- END DROPDOWN MENU -->


            <!-- DROPDOWN MENU -->
            <li aria-haspopup="true"><a href="#">Categories <span class="wsarrow"></span></a>
              <ul class="sub-menu">
                <li aria-haspopup="true"><a href="courses-list.html">Development</a></li>
                <li aria-haspopup="true"><a href="courses-list.html">Finance & Accounting</a>
                </li>
                <li aria-haspopup="true"><a href="courses-list.html">IT & Software</a></li>
                <li aria-haspopup="true"><a href="courses-list.html">Office Productivity</a>
                </li>
                <li aria-haspopup="true"><a href="courses-list.html">Photography</a></li>
                <li aria-haspopup="true"><a href="courses-list.html">Math & Science</a></li>
                <li aria-haspopup="true"><a href="courses-list.html">Languages</a></li>
                <li aria-haspopup="true"><a href="courses-list.html">Marketing</a></li>
                <li aria-haspopup="true"><a href="courses-list.html">Health & Fitness</a></li>
              </ul>
            </li> <!-- END DROPDOWN MENU -->


            <!-- MEGAMENU -->
            <li aria-haspopup="true"><a href="#">Mega Menu <span class="wsarrow"></span></a>
              <div class="wsmegamenu clearfix">
                <div class="container">
                  <div class="row">


                    <!-- MEGAMENU QUICK LINKS -->
                    <div class="col-md-12 col-lg-3">

                      <!-- Title -->
                      <h3 class="title">Top 5 Online Courses:</h3>

                      <ul class="link-list clearfix">
                        <li><a href="course-details.html">English for Tourism</a></li>
                        <li><a href="course-details.html">Python Programming - Working
                            with Lists and Files</a></li>
                        <li><a href="course-details.html">Computer Networking - Wired
                            and Wireless Networks</a></li>
                        <li><a href="course-details.html">Digital Marketing: The
                            Ultimate Guide to Strategic</a></li>
                        <li><a href="course-details.html">The Complete iOS 10 & Swift 3
                            Developer Course</a></li>
                      </ul>

                    </div> <!-- END MEGAMENU QUICK LINKS -->


                    <!-- MEGAMENU FEATURED NEWS -->
                    <div class="col-md-12 col-lg-5">

                      <!-- Title -->
                      <h3 class="title">Featured News:</h3>

                      <!-- Image -->
                      <div class="fluid-width-video-wrapper mb-15"><img
                           src="{% static 'landing_page/images/blog/featured-news.jgp' %}" alt="featured-news" />
                      </div>

                      <!-- Text -->
                      <h5 class="h5-md">
                        <a href="single-post.html">Study smart and save time with these
                          5 tips
                        </a>
                      </h5>
                      <p class="wsmwnutxt">Porta semper lacus cursus, feugiat primis
                      ultrice in ligula risus auctor
                      tempus feugiat dolor impedit magna...
                      </p>

                    </div> <!-- END MEGAMENU FEATURED NEWS -->


                    <!-- MEGAMENU LATEST NEWS -->
                    <div class="col-md-12 col-lg-4">

                      <!-- Title -->
                      <h3 class="title">Latest News:</h3>

                      <!-- Latest News -->
                      <ul class="latest-news">

                        <!-- Post #1 -->
                        <li class="clearfix d-flex align-items-center">

                          <!-- Image -->
                          <img class="img-fluid" src="{% static 'landing_page/images/blog/latest-post-1.jgp' %}"
                                                 alt="blog-post-preview" />

                          <!-- Text -->
                          <div class="post-summary">
                            <a href="single-post.html">Etiam sapien risus ante
                              auctor tempus an accumsan...</a>
                            <p>18 hours ago</p>
                          </div>

                        </li>

                        <!-- Post #2 -->
                        <li class="clearfix d-flex align-items-center">

                          <!-- Image -->
                          <img class="img-fluid" src="{% static 'landing_page/images/blog/latest-post-2.jgp' %}"
                                                 alt="blog-post-preview" />

                          <!-- Text -->
                          <div class="post-summary">
                            <a href="single-post.html">Blandit tempor sapien ipsum,
                              porta risus auctor justo...
                            </a>
                            <p>Feb 17, 2021</p>
                          </div>

                        </li>

                        <!-- Post #3 -->
                        <li class="clearfix d-flex align-items-center">

                          <!-- Image -->
                          <img class="img-fluid" src="{% static 'landing_page/images/blog/latest-post-3.jgp' %}"
                                                 alt="blog-post-preview" />

                          <!-- Text -->
                          <div class="post-summary">
                            <a href="single-post.html">Cursus risus an auctor risus
                              laoreet undo auctor varius...</a>
                            <p>Feb 07, 2021</p>
                          </div>

                        </li>
                      </ul>
                    </div> <!-- END MEGAMENU LATEST NEWS -->


                  </div> <!-- End row -->
                </div> <!-- End container -->
              </div> <!-- End wsmegamenu -->
            </li> <!-- END MEGAMENU -->


            <!-- SIMPLE NAVIGATION LINK -->
            <li class="nl-simple" aria-haspopup="true"><a href="blog-listing.html">Blog</a></li>


            <!-- SIMPLE NAVIGATION LINK -->
            <li>
                {% if should_redirect_to_authn_mfe %}
                  {% with register_params=login_query %}
                  <a class="register-btn btn" href="{{settings.AUTHN_MICROFRONTEND_URL}}/register{{ register_params }}">{{_("Register")}}</a>
                  {% endwith %}
                {% endif %}
            </li>
            <li class="nl-simple" aria-haspopup="true"><a href="contacts.html">Contacts</a></li>


            <!-- DROPDOWN MENU -->
            <li aria-haspopup="true">
              <a href="#" class="lang-select">
                <img src="{% static 'landing_page/images/icons/flags/uk.png' %}" alt="flag-icon" /> En <span
                                                     class="wsarrow"></span>
              </a>
              <ul class="sub-menu last-sub-menu">
                <li aria-haspopup="true"><a href="#"><img src="{% static 'landing_page/images/icons/flags/germany.png' %}"
                                                          alt="flag-icon" /> Deutch</a></li>
                <li aria-haspopup="true"><a href="#"><img src="{% static 'landing_page/images/icons/flags/spain.png' %}"
                                                          alt="flag-icon" /> Español</a></li>
                <li aria-haspopup="true"><a href="#"><img src="{% static 'landing_page/images/icons/flags/france.png' %}"
                                                          alt="flag-icon" /> Français</a></li>
                <li aria-haspopup="true"><a href="#"><img src="{% static 'landing_page/images/icons/flags/italy.png' %}"
                                                          alt="flag-icon" /> Italiano</a></li>
                <li aria-haspopup="true"><a href="#"><img src="{% static 'landing_page/images/icons/flags/russia.png' %}"
                                                          alt="flag-icon" /> Русский</a></li>
                <li aria-haspopup="true"><a href="#"><img src="{% static 'landing_page/images/icons/flags/china.png' %}"
                                                          alt="flag-icon" /> 简体中文</a></li>
              </ul>
            </li> <!-- END DROPDOWN MENU -->


            <!-- HEADER BUTTON
              <li class="nl-simple" aria-haspopup="true">
              <a href="#" class="btn btn-rose tra-black-hover last-link">Get Started</a>
              </li> -->


          </ul>
        </nav> <!-- END MAIN MENU -->

      </div>
    </div> <!-- END NAVIGATION MENU -->


  </div> <!-- End header-wrapper -->
</header> <!-- END HEADER -->
