{% load static %}
<!-- ABOUT-1
  ============================================= -->
  <section id="about-1" class="bg-05 about-section division">
    <div class="container white-color">
      <div class="row d-flex align-items-center">


        <!-- ABOUT BOX #1 -->
        <div class="col-md-4">
          <div class="abox-1 icon-xs">

            <!-- Icon -->
            <span class="flaticon-004-computer"></span>

            <!-- Text -->
            <div class="abox-1-txt">
              <h5 class="h5-md">2,769 online courses</h5>
              <p class="p-md">Explore a variety of fresh topics</p>
            </div>

          </div>
        </div> <!-- END ABOUT BOX #1 -->


        <!-- ABOUT BOX #2 -->
        <div class="col-md-4">
          <div class="abox-1 icon-xs">

            <!-- Icon -->
            <span class="flaticon-028-learning-1"></span>

            <!-- Text -->
            <div class="abox-1-txt">
              <h5 class="h5-md">Expert instruction</h5>
              <p class="p-md">Find the right instructor for you</p>
            </div>

          </div>
        </div> <!-- END ABOUT BOX #2 -->


        <!-- ABOUT BOX #3 -->
        <div class="col-md-4">
          <div class="abox-1 icon-xs">

            <!-- Icon -->
            <span class="flaticon-032-tablet"></span>

            <!-- Text -->
            <div class="abox-1-txt">
              <h5 class="h5-md">Lifetime access</h5>
              <p class="p-md">Learn on your schedule</p>
            </div>

          </div>
        </div> <!-- END ABOUT BOX #3 -->


      </div> <!-- End row -->
    </div> <!-- End container -->
  </section> <!-- End ABOUT-1 -->




  <!-- ABOUT-2
    ============================================= -->
    <section id="about-2" class="wide-60 about-section division">
      <div class="container">
        <div class="row d-flex align-items-center">


          <!-- ABOUT IMAGE -->
          <div class="col-md-5 col-lg-6">
            <div class="img-block pc-25 mb-40">
              <img class="img-fluid" src="{% static 'landing_page/images/image-01.png' %}" alt="about-image">
            </div>
          </div>


          <!-- ABOUT TEXT -->
          <div class="col-md-7 col-lg-6">
            <div class="txt-block pc-25 mb-40">

              <!-- Title -->
              <h3 class="h3-sm">Transform your life through online education</h3>

              <!-- Text -->
              <p>An enim nullam tempor sapien gravida donec porta and blandit ipsum enim justo integer
              velna vitae
              auctor integer congue magna and purus pretium risus ligula rutrum luctus ultrice
              </p>

              <!-- List -->
              <ul class="txt-list mb-15">

                <li>Nullam rutrum eget nunc varius etiam mollis risus undo</li>

                <li>Integer congue magna at pretium purus pretium ligula at rutrum risus luctus dolor
                  auctor
                  ipsum blandit purus
                </li>

                <li>Risus at congue etiam aliquam sapien egestas posuere</li>

                <li>At pretium purus integer congue magna pretium ligula at ipsum blandit purus rutrum
                  risus
                  luctus dolor auctor
                </li>

              </ul>

            </div>
          </div> <!-- END ABOUT TEXT -->


        </div> <!-- End row -->
      </div> <!-- End container -->
    </section> <!-- End ABOUT-2 -->
