{% load static %}
{% load i18n %}
{% load wagtailimages_tags %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Features Area Start Here
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  {% if features.enable and menu.highlight_features.enable %}
  <section class="features-section margin-top-100 bg-main-blue" id="highlight_features">
    <img src="{% static 'landing_page/img/shapes/graduation.png' %}" class="shape" alt="graduation cap">
    <div class="container custom-container-01">
      <div class="row">
        {% for feature in features.list_items %}
          {% for _, block in feature.items %}
          {% if block.active %}
          <div class="col-lg-4 col-md-6">
            <div class="icon-box-item">
              <div class="icon">
                {% image block.icon width-67 height=71 class="banner-img" alt="feature" class="uw-feature-icon" %}
              </div>
              <div class="content">
                <h4 class="title">{{ block.title }}</h4>
                <p>{{ block.description }}</p>
              </div>
              <div class="btn-wrap">
                <a href="{{ block.link }}" class="more-btn">Learn More <i class="fa-solid fa-angle-right icon"></i>
                </a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Feedback Area End Here
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
