{% load static %}
<!-- TESTIMONIALS-3
  ============================================= -->
  <section id="reviews-3" class="bg-01 reviews-section division">
    <div class="container">
      <div class="row">
        <div class="col-md-12">


          <!-- TESTIMONIAL TEXT -->
          <div class="review-3">

            <!-- Quote Icon -->
            <div class="quote-ico"><img src="{% static 'landing_page/images/left-quote.png' %}" alt="quote-image" /></div>

            <!-- Testimonial Text -->
            <p>An enim nullam tempor sapien gravida donec eTreeks - enim ipsum porta justo integer at
            odio velna and vitae
            auctor integer congue magna at pretium purus pretium ligula rutrum luctus risus ultrice
            luctus blandit congue
            magna. Sagittis congue augue egestas volutpat egestas magna consequat posuere nunc, eu
            porttitor neque
            </p>

            <!-- Testimonial Author -->
            <div class="review-3-author">

              <!-- Rating -->
              <div class="tst-rating clearfix">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>

              <h5 class="h5-md">Jennifer S.</h5>
              <span>Online Student (Public Relations)</span>
            </div>

          </div> <!-- END TESTIMONIAL TEXT -->


        </div>
      </div> <!-- End row -->
    </div> <!-- End container -->
  </section> <!-- END TESTIMONIALS-3 -->
