{% load static %}
<!-- VIDEO-3
  ============================================= -->
  <section id="video-3" class="bg-scroll video-section division">


    <!-- VIDEO TEXT -->
    <div class="bg-scroll video-3-txt division">
      <div class="container white-color">
        <div id="video-3-content" class="row">
          <div class="col-lg-8 offset-lg-2 video-txt text-center">

            <!-- Title -->
            <h3 class="h3-md">Find the right instructor for you from over 10,000 teachers</h3>

            <!-- Text -->
            <p class="p-lg">Feugiat primis ligula risus auctor laoreet augue egestas</p>

          </div>
        </div>
      </div> <!-- End container -->
    </div> <!-- END VIDEO TEXT -->


    <!-- VIDEO LINK -->
    <div class="video-3-link mb-40 division">
      <div class="container">
        <div class="row">
          <div class="col-md-12 video-link text-center">

            <!-- Change the link HERE!!! -->
            <div class="play-btn play-btn-rose text-center">

              <a class="video-popup3 video-play-button"
                 href="https://www.youtube.com/embed/0gv7OC9L2s8">
                <span></span>
              </a>

              <!-- Preview Image -->
              <img class="img-fluid" src="{% static 'landing_page/images/video-3-img.jpg' %}" alt="video-preview">

            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- VIDEO-3 BRANDS -->
    <div class="video-3-brands division">
      <div class="container">
        <div class="row">
          <div class="col text-center">

            <!-- Title -->
            <p class="p-md">Trusted by companies of all sizes:</p>

            <!-- Brands Carousel -->
            <div class="owl-carousel brands-carousel">

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-1.png' %}" alt="brand-logo" />
              </div>

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-2.png' %}" alt="brand-logo" />
              </div>

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-3.png' %}" alt="brand-logo" />
              </div>

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-4.png' %}" alt="brand-logo" />
              </div>

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-5.png' %}" alt="brand-logo">
              </div>

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-6.png' %}" alt="brand-logo" />
              </div>

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-7.png' %}" alt="brand-logo" />
              </div>

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-4.png' %}" alt="brand-logo" />
              </div>

              <!-- BRAND LOGO IMAGE -->
              <div class="brand-logo">
                <img class="img-fluid" src="{% static 'landing_page/images/brand-5.png' %}" alt="brand-logo" />
              </div>

            </div><!-- Brands Carousel -->

          </div> <!-- End col -->
        </div> <!-- End row -->
      </div> <!-- End container -->
    </div> <!-- END VIDEO-3 BRANDS -->


  </section> <!-- END VIDEO-3 -->
