{% extends "landing_page/base.html" %}
{% load static %}

<!-- SITE TITLE -->
{% block title %}
<title>Open-EdX</title>
{% endblock %}

{% block body %}
  {% include 'landing_page/blocks/menu.html' %}
      {% include 'landing_page/blocks/banner.html' %}
      {% include 'landing_page/blocks/highlight_features.html' %}
      {% include 'landing_page/blocks/services.html' with data_block=why block_id='why'%}
      {% include 'landing_page/blocks/about.html' %}
      {% include 'landing_page/blocks/proof_point.html' %}
      {% include 'landing_page/blocks/services.html' with data_block=service block_id='services' %}
      {% include 'landing_page/blocks/case_studies.html' %}
      {% include 'landing_page/blocks/testimonial.html' %}
{% endblock %}
